/*----------------------------
 layout and images
----------------------------*/
body {
  display: flex;
  justify-content: center;
  background: linear-gradient($soft-violet, $soft-blue);
}

.page-wrapper {
  min-height: 100vh;
}

.card__img-woman {
  background: url(../images/illustration-woman-online-mobile.svg) no-repeat top;
  position: absolute;
  background-size: 236.85px 179.57px;
  width: 236.85px;
  height: 179.57px;
  top: -108px;
  left: 45px;
}

.card__img-shadow {
  background: url(../images/bg-pattern-mobile.svg) no-repeat top;
  position: absolute;
  // background-size: 240px 145px;
  width: 240px;
  height: 145px;
  top: 0;
  left: 44px;
}

/*----------------------------
      card section 
 ----------------------------*/

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  width: 279px;
  border-radius: 23px;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  margin: 148px 24px 85px;
  padding: 132px 24px 48px;

  &__heading {
    text-align: center;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    color: $dark-blue;
    margin: 0 0 38px 0;
  }

  &__question {
    list-style: none;
    position: relative;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary::after {
    content: url(../images/icon-arrow-down.svg);
    position: absolute;
    right: 0;
  }
  details[open] summary:after {
    // content: url(../images/icon-arrow-down.svg);
    transform: rotate(180deg);
  }

  details[open] &__question {
    font-weight: 700;
  }

  &__answer {
    margin-top: 12px;
    line-height: 18px;
    color: $medium-gray;
  }

  &__transition {
    margin: 19px 0 19px 0;
    border-top: 2px $light-gray;
  }
}
