/*----------------------------
 layout and images
----------------------------*/
body {
  display: flex;
  justify-content: center;
  background: linear-gradient($soft-violet, $soft-blue);
  min-height: 100vh;
  // @media only screen and (min-width: 1024px) {
    align-items: center;
  // }
}

.page-wrapper {
  position: relative;
}

.card__img-woman {
  background: url(../images/illustration-woman-online-mobile.svg);
  position: absolute;
  width: 14.8031rem;
  height: 11.2231rem;
  top: -6.75rem;
  left: 2.8125rem;

  @media only screen and (min-width: 1024px) {
    background: url(../images/illustration-woman-online-desktop.svg);
    width: 29.5rem;
    height: 22.4375rem;
    top: 4.375rem;
    left: -5.25rem;
    z-index: 2;
  }
}

.card__img-shadow {
  background: url(../images/bg-pattern-mobile.svg) no-repeat;
  position: absolute;
  width: 15rem;
  height: 9.0625rem;
  top: 0;
  left: 2.75rem;

  @media only screen and (min-width: 1024px) {
    background: url(../images/bg-pattern-desktop.svg);
    width: 60.4375rem;
    height: 59rem;
    top: -18.375rem;
    left: -36rem;
    z-index: 1;
  }
}

@media only screen and (min-width: 1024px) {
  .card__img-box {
    background: url(../images/illustration-box-desktop.svg) no-repeat;
    position: absolute;
    width: 11.9375rem;
    height: 11.5rem;
    top: 21.0075rem;
    left: 11.75rem;
    z-index: 3;
  }
}

/*----------------------------
      card section 
 ----------------------------*/

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  width: 17.4375rem;
  height: 24.688rem;
  border-radius: 1.4375rem;
  box-shadow: 0rem 3.125rem 3.125rem -1.25rem rgba(53, 18, 122, 0.497159);
  padding: 8.25rem 1.5rem 3rem;
  margin: 9.25rem 1.5rem 5.3125rem;

  @media only screen and (min-width: 1024px) {
    display: flex;
    align-items: flex-end;
    width: 51.5625rem;
    padding: 4.0625rem 5.9375rem 3.125rem 0;
    margin: 8.0625rem 14.9375rem 8.125rem 17.5625rem;
    overflow: hidden;
  }

  &__heading {
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: $dark-blue;
    margin: 0 0 2.375rem 0;

    @media only screen and (min-width: 1024px) {
      text-align: left;
      margin: 0 0 2.1875rem 0;
    }
  }

  &__question {
    list-style: none;
    position: relative;
    font-size: 0.8125rem;
    line-height: 1.0075rem;
    cursor: pointer;

    &:hover {
      color: $soft-red;
    }

    @media only screen and (min-width: 1024px) {
      font-size: 0.875rem;
      line-height: 1.085rem;
    }
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary::after {
    content: url(../images/icon-arrow-down.svg);
    position: absolute;
    right: 1rem;
    transition: 0.3s ease-in;
  }
  details[open] summary:after {
    transform: rotate(180deg);
  }

  details[open] &__question {
    font-weight: 700;
    color: $dark-blue;
  }

  &__answer {
    margin-top: 0.75rem;
    line-height: 1.125rem;
    color: $medium-gray;
  }

  &__transition {
    border: none;
    border-top: 0.0625rem solid $light-gray;
    margin: 1.125rem 0 1.125rem 0;
  }

  @media only screen and (min-width: 1024px) {
    &__accordion {
      width: 21.875rem;
    }
  }
}
